// Usando a sintaxe moderna @use para importar o Bootstrap
@use 'bootstrap/scss/bootstrap' as *;

// Definindo as variáveis de cor
$primary: #288FE3;
$secondary: #98c9a3;
$success: #ffd4b8;
$danger: #E32F29;
$dark: #4a4a4a;
$light: #fff6ed;
$accent1: #ffb6a3;
$accent2: #b4d6bc;
$accent3: #2954E3;
$white: #fff;
$success: #75B546;
$warning: #F2D12C;
$opacity: #496F8E;

// Estilos customizados
.bg-light-custom {
  background-color: $light !important;
}

.btn-outline-accent {
  background-color: transparent;
  color: $accent3;
  border: 2px solid $accent3;
}

.btn-success {
  background-color: $success  !important;
  color: $white;
}

.btn-warning {
  background-color: $warning  !important;
  color: $white;
}
.btn-danger {
  background-color: $danger  !important;
  color: $white;
}

.btn-outline-accent:hover {
  background-color: $accent3;
  color: $white;
}

.btn-outline-danger {
  background-color: transparent;
  color: $danger;
  border: 2px solid $danger;
}

.btn-outline-danger:hover {
  background-color: $danger;
  color: $white;
}

.btn-outline-success {
  background-color: transparent;
  color: $secondary;
  border: 2px solid $secondary;
}

.btn-outline-success:hover {
  background-color: $secondary;
  color: $white;
}

.btn-accent {
  background-color: $accent3;
  color: $light;
}

.bg-white {
  background-color: $white !important;
}

.text-primary {
  color: $primary !important;
}

.border-primary {
  border-color: $primary !important;
}

.text-danger {
  color: $danger !important;
}

.text-secondary {
  color: $secondary !important;
}

.bg-light.text-muted {
  background-color: $secondary !important;
  opacity: 0.8;
}

.text-muted .card-title {
  text-decoration: line-through !important;
}

.line {
  border-top: 0.5px solid $primary;
  border-left: 0.5px solid $primary;
  border-right: 0.5px solid $primary;
}

.fs-9 {
  font-size: 0.695rem;
}

.fs-8 {
  font-size: 0.775rem;
}

.bg-primary {
  background-color: $primary !important;
}

.primary {
  background-color: $primary !important;
  border-color: $primary !important;
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;

  &:hover {
    background-color: darken($primary, 10%) !important;
    border-color: darken($primary, 10%) !important;
  }
}

body {
  background-color: $light !important;
  color: $dark !important;
}

.alert-success {
  background-color: $success !important;
  border-color: $success !important;
  color: $dark !important;
}

.input-group {
  display: flex;
  align-items: center;
  border-color: $primary !important;
  border: $primary 1px solid !important;
}

.input-group-text {
  background-color: transparent !important;
  border: none !important;
  padding: 0.375rem 0.75rem !important;
  display: flex;
  align-items: center;
}

.form-control {
  color: $dark !important;
  background-color: transparent !important;
}

.form-control {
  border: none !important;
}

.form-control:focus {
  border-color: darken($primary, 10%) !important;
  box-shadow: 0 0 0 0.2rem rgba($primary, 0.25) !important;
}

input::placeholder {
  color: $primary !important;
}

input.text-primary {
  color: $primary !important;
}

.title-login-signup {
  color: $primary;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.no-focus-border:focus {
  outline: none !important;
  box-shadow: none !important;
}

.pr-2 {
  padding-right: 0.25rem;
}

.bought-item {
  background-color: #f2f2f2;
  text-decoration: line-through;
  opacity: 0.6;
}

.bought-item .bi-check-circle {
  color: $opacity;
}

.toggle-expand {
  cursor: pointer;
}

.sidebar {
  overflow-y: auto;
  max-height: 100vh;
  width: 245px;
  z-index: 1049;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* Sidebar será fixa para telas médias e grandes */
@media (min-width: 992px) {
  .sidebar {
    position: relative;
    top: 0;
    height: auto;
  }
}

/* Sidebar será flutuante (off-screen) em telas pequenas */
@media (max-width: 991px) {
  .sidebar {
    position: fixed;
    top: 4.75em;
    left: 0;
    height: calc(90vh - 5em);
    width: 245px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .sidebar.d-block {
    transform: translateX(0);
  }
}

@media (max-width: 991px) {
  .sidebar {
    position: fixed;
    top: 4.10em;
    left: 0;
    width: 245px;
    height: calc(91vh - 4.10em);
    z-index: 1049;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
  }

  .sidebar.d-block {
    transform: translateX(0);
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1050;
}

.item-suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 250px;
  overflow-y: auto;
  z-index: 1000;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  .list-group-item {
      cursor: pointer;
      padding: 10px;
  }

  .item-info {
      display: flex;
      width: 100%;
      align-items: center;

      .item-name {
          margin-right: 4px;
      }

      .brand {
          font-size: 0.75rem;
      }

      .barcode {
          font-size: 0.75rem;
          margin-left: auto;
      }
  }
}
